@import url("variables.css");

#root {
  max-width: 90%;
  max-height: 100vh;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: var(--hover-cursor), auto;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button:hover {
  cursor: var(--hover-cursor), auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2 {
  font-family: var(--text-content);
}

::selection {
  background: var(--third-color);
}

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

body {
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  cursor: var(--cursor), auto;

  header {
    .header-container {
      border-bottom: 1px solid black;
      width: 100%;
      padding-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inheader-container {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      li {
        font-family: var(--text-content);
        font-size: 24px;
        cursor: var(--hover-cursor), auto;
      }
    }
  }

  main {
    width: auto;
    height: 100vh;

    .home-section {
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title-container {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;

      h1 {
        padding: 2rem;
        overflow-wrap: anywhere;
        font-family: var(--title);
        font-weight: 900;
        font-size: 4em;
        text-transform: uppercase;
        color: var(--secondary-color);
      }

      h1:hover {
        /* box-shadow: 0.7em 1em 5px var(--third-color); */
        cursor: var(--yellow-cursor), auto;
      }
    }

    .gif-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      legend {
        font-family: var(--title);
        font-size: 24px;
        font-weight: 800;
        font-style: italic;
      }
    }

    .projects-section {
      margin-bottom: 1rem;

      h2 {
        font-family: var(--text-content);
        font-style: bold;
        font-size: 32px;
        border-bottom: 1px solid black;
        width: 118px;
        text-align: end;
        margin-bottom: 1.5rem;
      }

      .projects-div-containers {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* border: 2px solid black; */

        .cards {
          width: calc(25% - 2em);
          height: auto;
          padding: 1em;
          /* border: 2px solid green; */
          /* box-shadow: 0.7em 1em 5px var(--third-color); */
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          h3 {
            font-family: var(--title);
            font-style: semibold;
            padding-top: 0.7em;
          }

          p {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-family: var(--text-content);
            font-style: light;
            line-height: 2;
          }

          div {
            width: 40%;
            height: 18%;
            padding-top: 1em;
            border-top: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            a {
              width: 28px;
            }

            button {
              font-family: var(--text-content);
              width: 80px;
              border: none;
              background-color: var(--third-color);
            }
          }
        }

        .cards>.webscreen {
          width: 100%;
        }

        .cards:hover {
          transform: translate(-10px, -10px);
          border: 2px solid black;
          box-shadow: 0.7em 1em 5px var(--third-color);
        }
      }
    }

    .about-section,
    .contact-section {
      h2 {
        font-style: bold;
        font-size: 32px;
        border-bottom: 1px solid black;
        width: 155px;
      }
    }

  }

  .footer {
    height: 60px;
    padding-top: 2rem;
    border-top: 1px solid black;
    font-family: var(--text-content);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer div:nth-child(2) {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
  }
}